# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `starknet-events` template.

{{ template "readme_usage" }}

## Modules

### `map_events`

This module filters certain StarkNet events specified by the `params`.
