syntax = "proto3";

package substreams.v1.program;

message Data {
  {{- $counter := 0 }}
  {{- range $i, $event := .Idl.Events }}
    {{- $counter = add $counter 1 }}
    repeated {{ $event.Name }}Event {{ $event.SnakeCaseName }}_event_list = {{ $counter }};
  {{- end}}

  {{- range $i, $instruction := .Idl.Instructions -}}
    {{- $counter = add $counter 1 }}
    repeated {{ $instruction.PascalCaseName }}Instruction {{ $instruction.SnakeCaseName }}_instruction_list = {{ $counter }};
  {{- end }}
}

{{- range $i, $event := .Idl.Events }}
{{- $counter := 1 }}
pub struct {{$event.Name}}Event {
    {{- range $i, $arg := $event.Fields }}
        {{- $counter = add $counter 1 }}
        {{ $arg.Type.GetResolvedFieldType.ResolveProtobufType }} {{ $arg.SnakeCaseName }} = {{ $counter }};
    {{- end }}
}
{{ end }}

{{- range $i, $inst := .Idl.Instructions }}
{{- $counter := 1 }}
pub struct {{$inst.PascalCaseName}}Instruction {
    {{- range $i, $arg := $inst.Args }}
        {{- $counter = add $counter 1 }}
        {{ $arg.Type.GetResolvedFieldType.ResolveProtobufType }} {{ $arg.SnakeCaseName }} = {{ $counter }};
    {{- end }}
}
{{ end }}

{{ range $i, $type := .Idl.AccountsAndTypes }}
{{- $counter := 1 }}
{{- if $type.Type.IsStruct }}
pub struct {{$type.Name}} {
{{- range $i, $field := $type.Type.Struct.Fields }}
    {{- $counter = add $counter 1 }}
    {{ $field.Type.GetResolvedFieldType.ResolveRustType }} {{ $field.SnakeCaseName }} = {{ $counter }};
{{- end}}
}
{{- end }}
{{- end }}