#[allow(unused)]
mod pb;

use crate::pb::mydata::v1::{CallAction, MyData, Transaction};
use pb::mydata::v1 as mydata;
use substreams::Hex;
use substreams_near::pb::sf::near::r#type::v1::{action::Action, Block};

#[substreams::handlers::map]
fn map_my_data(block: Block) -> Result<mydata::MyData, substreams::errors::Error> {
    let mut transactions: Vec<Transaction> = Vec::new();

    // Process transactions from all shards
    for shard in block.shards {
        if let Some(chunk) = shard.chunk {
            for tx_with_outcome in chunk.transactions {
                // Here you can filter out transactions you care about, just use
                // an if statement and continue to skip unwanted transactions.

                let tx = tx_with_outcome.transaction.unwrap();
                let actions: Vec<CallAction> = tx
                    .actions
                    .into_iter()
                    .filter_map(|action| {
                        let action = action.action?;

                        // Here we only interpreted FunctionCall actions, you can
                        // extend this to other action types as needed. Explore
                        // the Action enum in the generated protobuf code to see
                        // other available action types.
                        if let Action::FunctionCall(fc) = action {
                            return Some(CallAction {
                                name: fc.method_name,
                                args: fc.args,
                            });
                        }

                        None
                    })
                    .collect();

                transactions.push(Transaction {
                    signer_id: tx.signer_id,
                    receiver_id: tx.receiver_id,
                    actions,
                    transaction_hash: Hex::encode(&tx.hash.unwrap().bytes),
                });
            }
        }
    }

    Ok(MyData { transactions })
}
