[package]
name = "{{ .Name }}"
version = "0.1.0"
edition = "2021"

[lib]
name = "substreams"
crate-type = ["cdylib"]

[dependencies]
substreams = "0.8.0-beta"
substreams-near = "0.11.0-beta.1"
buffa = "0.9.2"
buffa-types = "0.9.2"
