[package]
name = "{{ .Name }}"
version = "0.1.0"
edition = "2021"

[lib]
name = "substreams"
crate-type = ["cdylib"]

[dependencies]
substreams = "0.6"
substreams-near = "0.10"
prost = "0.13"
prost-types = "0.13"

