This template holds chunks of common README.md

{{ define "readme_usage" -}}
## Usage

```bash
substreams build
substreams auth
substreams gui       			  # Get streaming!
substreams registry login         # Login to substreams.dev
substreams registry publish       # Publish your Substreams to substreams.dev
```
{{- end }}

