mod idl;
mod pb;

use anchor_lang::AnchorDeserialize;
use anchor_lang::Discriminator;
use base64::prelude::*;
use pb::substreams::v1::program::Data;

{{- range $i, $event := .Idl.Events }}
use pb::substreams::v1::program::{{$event.Name}}Event;
{{- end}}

{{- range $i, $instruction := .Idl.Instructions }}
use pb::substreams::v1::program::{{$instruction.PascalCaseName}}Instruction;
{{- end}}

{{- range $i, $type := .Idl.AccountsAndTypes }}
{{ if $.Idl.IsTypeUsed $type.Name }}
{{ if $type.Type.IsEnum }}
use pb::substreams::v1::program::{{$type.Name}}Enum;
{{ else }}
use pb::substreams::v1::program::{{$type.Name}};
{{ end }}
{{- end}}
{{- end}}

use sologger_log_context::programs_selector::ProgramsSelector;
use sologger_log_context::sologger_log_context::LogContext;
use substreams_solana::pb::sf::solana::r#type::v1::Block;

const PROGRAM_ID: &str = "{{.Idl.ProgramID}}";

#[substreams::handlers::map]
fn map_program_data(blk: Block) -> Data {

    {{- range $i, $event := .Idl.Events }}
    let mut {{ $event.SnakeCaseName }}_event_list: Vec<{{$event.Name}}Event> = Vec::new();
    {{- end}}

    {{- range $i, $instruction := .Idl.Instructions }}
    let mut {{ $instruction.SnakeCaseName }}_instruction_list: Vec<{{$instruction.PascalCaseName}}Instruction> = Vec::new();
    {{- end}}

    blk.transactions().for_each(|transaction| {

        {{ if .Idl.Events -}}
        // ------------- EVENTS -------------
        let meta_wrapped = &transaction.meta;
        let meta = meta_wrapped.as_ref().unwrap();
        let programs_selector: ProgramsSelector = ProgramsSelector::new(&["*".to_string()]);
        let log_contexts = LogContext::parse_logs_basic(&meta.log_messages, &programs_selector);

        log_contexts
            .iter()
            .filter(|context| context.program_id == PROGRAM_ID)
            .for_each(|context| {
                context.data_logs.iter().for_each(|data| {
                    if let Ok(decoded) = BASE64_STANDARD.decode(data) {
                        let slice_u8: &mut &[u8] = &mut &decoded[..];
                        let slice_discriminator: [u8; 8] =
                            slice_u8[0..8].try_into().expect("error");
                        let static_discriminator_slice: &'static [u8] = Box::leak(Box::new(slice_discriminator));

                        match static_discriminator_slice {
                            {{- range $i, $event := .Idl.Events }}
                            idl::idl::program::events::{{$event.Name}}::DISCRIMINATOR => {
                                if let Ok(event) =
                                    idl::idl::program::events::{{$event.Name}}::deserialize(
                                        &mut &slice_u8[8..],
                                    )
                                {
                                    {{ $event.SnakeCaseName }}_event_list.push({{ $event.Name }}Event {
                                        trx_hash: transaction.id(),
                                        {{- range $i, $arg := $event.Fields }}
                                        {{ $arg.Type.Print $arg.Name "event" $.Idl.AccountsAndTypes }}
                                        {{- end}}
                                    });
                                }
                            }
                            {{- end}}
                            _ => {}
                        }
                    }
                });
            });
        {{- end -}}

        {{ if .Idl.Instructions -}}
        // ------------- INSTRUCTIONS -------------
        transaction
        .walk_instructions()
        .into_iter()
        .filter(|inst| inst.program_id().to_string() == PROGRAM_ID)
        .for_each(|inst| {
            let slice_u8: &[u8] = &inst.data()[..];

            {{- range $i, $instruction := .Idl.Instructions }}
            if &slice_u8[0..8] == idl::idl::program::client::args::{{ $instruction.PascalCaseName }}::DISCRIMINATOR {
                if let Ok(instruction) =
                    idl::idl::program::client::args::{{ $instruction.PascalCaseName }}::deserialize(&mut &slice_u8[8..])
                {
                    let accts = inst.accounts();
                    {{ $instruction.SnakeCaseName }}_instruction_list.push({{ $instruction.PascalCaseName }}Instruction {
                        trx_hash: transaction.id(),
                        {{- range $i, $arg := $instruction.Args }}
                        {{ $arg.Type.Print $arg.Name "instruction" $.Idl.AccountsAndTypes }}
                        {{- end }}
                        {{- range $i, $acc := $instruction.Accounts }}
                        {{- if not $acc.Address }}
                        acct_{{ $acc.SnakeCaseName }}: accts[{{ $i }}].to_string(),
                        {{- end }}
                        {{- end }}
                    });
                }
            }
            {{- end }}
        });
        {{- end }}
    });


    Data {
        {{- range $i, $event := .Idl.Events }}
        {{ $event.SnakeCaseName }}_event_list,
        {{- end }}

        {{- range $i, $instruction := .Idl.Instructions }}
        {{ $instruction.SnakeCaseName }}_instruction_list,
        {{- end }}
    }
}

{{ range $i, $type := .Idl.Types }}
{{- if $type.Type.IsEnum -}}
fn map_enum_{{$type.SnakeCaseName}}(value: idl::idl::program::types::{{ $type.Name }}) -> i32 {
    match value {
        {{- range $j, $variant := $type.Type.Enum.Variants }}
        idl::idl::program::types::{{ $type.Name }}::{{ $variant.Name }} => return {{ $j }},
        {{- end}}
        _ => 0,
    }
}
{{ else }}
{{ if $.Idl.IsTypeUsed $type.Name }}
fn map_option_{{$type.SnakeCaseName}}(value: Option<idl::idl::program::types::{{ $type.Name }}>) -> Option<{{ $type.Name }}> {
    match value {
        Some({{$type.SnakeCaseName}}) => {
            return Some({{$type.PascalCaseName}} {
                {{- range $i, $field := $type.Type.Struct.Fields }}
                {{ $field.Type.Print $field.Name $type.SnakeCaseName $.Idl.AccountsAndTypes }}
                {{- end}}
            })
        },
        None => {
            return None;
        }
    }
}
{{ end }}
{{ end }}
{{- end }}

{{ range $i, $type := .Idl.Accounts }}
{{- if $type.Type.IsEnum -}}
fn map_enum_{{$type.SnakeCaseName}}(value: idl::idl::program::accounts::{{ $type.Name }}) -> i32 {
    match value {
        {{- range $j, $variant := $type.Type.Enum.Variants }}
        idl::idl::program::types::{{ $type.Name }}::{{ $variant.Name }} => return {{ $j }},
        {{- end}}
        _ => 0,
    }
}
{{ else }}
{{ if $.Idl.IsTypeUsed $type.Name }}
fn map_option_{{$type.SnakeCaseName}}(value: Option<idl::idl::program::accounts::{{ $type.Name }}>) -> Option<{{ $type.Name }}> {
    match value {
        Some({{$type.SnakeCaseName}}) => {
            return Some({{$type.PascalCaseName}} {
                {{- range $i, $field := $type.Type.Struct.Fields }}
                {{ $field.Type.Print $field.Name $type.SnakeCaseName $.Idl.AccountsAndTypes }}
                {{- end}}
            })
        },
        None => {
            return None;
        }
    }
}
{{ end }}
{{ end }}
{{- end }}