# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `evm-hello-world` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module extracts event logs from blocks into 'MyData' protobuf object
