# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `starknet-hello-world` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module outputs events from STRK Token
