# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `injective-events` template.

{{ template "readme_usage" }}

## Modules

### `{{ .ModuleName }}`

This module uses the [Injective Foundational Modules](https://github.com/streamingfast/substreams-foundational-modules/)
and applies filters on the chosen events and attributes.
