specVersion: v0.1.0
package:
  name: {{ .Name }}
  version: v0.1.0
  url: {{ .GetPackageURL }}
  description: {{ .GetPackageDescription }}

imports:
  injective: https://github.com/streamingfast/substreams-foundational-modules/releases/download/injective-common-v0.2.5/injective-common-v0.2.5.spkg

binaries:
  default:
    type: wasm/rust-v1+wasm-bindgen-shims
    file: ./target/wasm32-unknown-unknown/release/substreams.wasm

protobuf:
  files:
    - mydata.proto
  importPaths:
    - ./proto
  excludePaths:
    - sf/substreams
    - google

modules:
  - name: {{ .GetModuleName }}
{{- if .IsEvents }}
    use: injective:filtered_events{{ if .HasAttributeValues }}_by_attribute_value{{ end }}
{{- else if .IsEventGroups }}
    use: injective:filtered_event_groups{{ if .HasAttributeValues }}_by_attribute_value{{ end }}
{{- end }}
    initialBlock: {{ .InitialBlock }}
{{- if .HasAttributeValues }}
    blockFilter:
      module: injective:index_events
      query:
        string: {{ .GetEventsIndexQuery }}
{{- end }}
  - name: map_my_data
    kind: map
    inputs:
    - map: {{ .GetModuleName }}
    output:
     type: proto:mydata.v1.MyData

params:
  {{ .GetModuleName }}: {{ .GetEventsQuery }}

network: injective-mainnet