# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `starknet-minimal` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module outputs simple block data with a count of transactions.
