# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `tron-hello-world` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This is an example module that reads the full Tron Block and outputs the contracts of type `TransferContract` that have an amount above 100M.
