# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `tron-hello-world` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This is an example module that outputs contracts of type `TransferContract`.
