specVersion: v0.1.0
package:
  name: my_project
  version: v0.1.0
  url: {{ .GetPackageURL }}
  description: {{ .GetPackageDescription }}

imports:
  tron: https://spkg.io/v1/packages/tron_foundational/v0.1.2 # Input the Tron foundational modules (which allow you to filter on trasanctions)

protobuf:
  files:
    - mydata.proto
  importPaths:
    - ./proto
  excludePaths:
    - sf/substreams
    - google

binaries:
  default:
    type: wasm/rust-v1
    file: ./target/wasm32-unknown-unknown/release/substreams.wasm

modules:
 - name: map_my_data
   kind: map
   initialBlock: 71846500
   inputs:
   - source: sf.tron.type.v1.Block # In production, use the "filtered_transaction" as input to the module (https://substreams.dev/packages/tron-foundational/v0.1.2#filtered_transactions)
   output:
    type: proto:mydata.v1.MyData

network: {{ .ChainName }}