specVersion: v0.1.0
package:
  name: my_project
  version: v0.1.0

imports:
  tron: https://spkg.io/v1/packages/tron_foundational/v0.1.2 # Input the Tron foundational modules (which allow you to filter on trasanctions)

protobuf:
  files:
    - mydata.proto
  importPaths:
    - ./proto
  excludePaths:
    - sf/substreams
    - google

binaries:
  default:
    type: wasm/rust-v1
    file: ./target/wasm32-unknown-unknown/release/substreams.wasm

modules:
 - name: map_my_filtered_transactions
   use: tron:filtered_transactions # Use the filtered_transactions module from the foundational module. Take a look at the "params" section of this file

 - name: map_my_data
   kind: map
   initialBlock: 71846500
   inputs:
   - map: map_my_filtered_transactions # Use the filtered transactions as input to the module
   output:
    type: proto:mydata.v1.MyData

network: tron

params:
  map_my_filtered_transactions: contract_type:TransferContract # Filter applied on the Tron transactions. In this case, only get `TransferContract` contracts