mod pb;

use crate::pb::sf::tron::r#type::v1::Block;
use pb::mydata::v1 as mydata;

#[substreams::handlers::map]
fn map_my_data(blk: Block) -> mydata::MyData {
    // Include here your custom code
    let mut my_data = mydata::MyData::default();
    my_data.block = Some(blk);
    my_data
}