pub mod idl {

    {{ if .IsOldIDLFormat }}
    use anchor_lang::declare_program;

    declare_program!(program);
    {{ else }}
    use borsh::{BorshDeserialize, BorshSerialize};

    #[derive(Debug, Clone, Copy, BorshSerialize, BorshDeserialize, PartialEq, Eq)]
    pub struct PubKey(pub [u8; 32]);

    {{- range $i, $event := .Idl.Events }}
    #[derive(BorshSerialize, BorshDeserialize)]
    pub struct {{$event.Name}}Event {
        {{- range $i, $arg := $event.Fields }}
            pub {{ $arg.SnakeCaseName }}: {{ $arg.Type.GetResolvedFieldType.ResolveRustType }},
        {{- end }}
    }
    {{ end }}

    {{- range $i, $inst := .Idl.Instructions }}
    #[derive(BorshSerialize, BorshDeserialize)]
    pub struct {{$inst.PascalCaseName}}Instruction {
        {{- range $i, $arg := $inst.Args }}
            pub {{ $arg.SnakeCaseName }}: {{ $arg.Type.GetResolvedFieldType.ResolveRustType }},
        {{- end }}
    }
    {{ end }}

    {{ range $i, $type := .Idl.AccountsAndTypes }}
    {{- if $type.Type.IsStruct }}
    #[derive(BorshSerialize, BorshDeserialize)]
    pub struct {{$type.Name}} {
    {{- range $i, $field := $type.Type.Struct.Fields }}
        pub {{ $field.SnakeCaseName }}: {{ $field.Type.GetResolvedFieldType.ResolveRustType }},
    {{- end}}
    }
    {{- else if $type.Type.IsEnum }}
    #[derive(BorshSerialize, BorshDeserialize)]
    pub enum {{$type.Name}} {
    {{- range $i, $variant := $type.Type.Enum.Variants }}
        {{ $variant.Name }} {
            {{- range $i, $field := $variant.Fields }}
                {{ $field.SnakeCaseName }}: {{ $field.Type.GetResolvedFieldType.ResolveRustType }},
            {{- end}}
        },
    {{- end}}
    }
    {{ end }}
    {{- end }}

    {{ end }}
}
