# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `tron-transactions` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module outputs filtered transactions based on the filter provided. Take a look at the input parameters in `substreams.yaml` to configure the filter.

**NOTE:** We do NOT recommend outputting the full Transaction object. Instead, you should filter on the specific parts that your application needs.
