specVersion: v0.1.0
package:
  name: {{ .GetModuleName }}
  version: v0.1.0

imports:
  tron: https://spkg.io/v1/packages/tron_foundational/v0.1.2

protobuf:
  excludePaths:
    - sf/substreams
    - google

binaries:
  default:
    type: wasm/rust-v1
    file: ./target/wasm32-unknown-unknown/release/substreams.wasm

modules:
 - name: map_my_filtered_transactions
   use: tron:filtered_transactions

 - name: map_my_data
   kind: map
   initialBlock: 71846500
   inputs:
   - map: map_my_filtered_transactions
   output:
    type: proto:sf.substreams.tron.v1.Transactions

network: tron

params:
  map_my_filtered_transactions: {{ .Filter }}