#[allow(unused)]
mod pb;
mod abi;

use crate::pb::sf::substreams::starknet::r#type::v1::Transactions;
use pb::starknet::v1::*;
use starknet::core::types::EmittedEvent;
use starknet::core::types::Felt;
use substreams::hex;

{{ range $i, $contract := .Contracts }}
use crate::abi::{{ $contract.Identifier }}_contract::Event as {{ $contract.IdentifierCapitalize }}Event;
{{ end }}

{{ range $i, $contract := .Contracts }}
const {{ $contract.Identifier | upper }}_ADDRESS: [u8; 32] = hex!("{{ $contract.AddressWithoutPrefix }}");
{{ end }}

{{- range $i, $contract := .Contracts }}
#[substreams::handlers::map]
fn map_{{ $contract.Identifier }}_events(transactions: Transactions) -> Result<Events, substreams::errors::Error> {
    let mut proto_events = Events::default();
    for transaction in transactions.transactions_with_receipt {
        let receipt = transaction.receipt.unwrap();

        for event in receipt.events {
            if event.from_address != {{ $contract.Identifier | upper }}_ADDRESS {
                continue;
            }

            let mut keys_felts = vec![];
            for key in event.keys {
                keys_felts.push(Felt::from_bytes_be_slice(&key));
            }

            let mut data_felts = vec![];
            for bytes in event.data {
                data_felts.push(Felt::from_bytes_be_slice(&bytes));
            }

            let emitted_event = EmittedEvent {
                from_address: Felt::from_bytes_be_slice(&event.from_address),
                keys: keys_felts,
                data: data_felts,
                block_hash: None,
                block_number: None,
                transaction_hash: Felt::default(),
            };

            let decoded_event = {{ $contract.IdentifierCapitalize }}Event::try_from(emitted_event).expect("Could not decode {{ $contract.Identifier}} event");
            let event_json = serde_json::to_string(&decoded_event).expect("Could not serialize {{ $contract.Identifier}} event to json");

            proto_events.events.push(Event {
                json_description: event_json
            });
        }
    }

    Ok(proto_events)
}
{{- end }}
