# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `tron-minimal` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module outputs the full Tron Block.

**NOTE:** We do NOT recommend outputting the full Tron Block. Instead, you should filter on the specific parts that your application needs.
