specVersion: v0.1.0
package:
  name: {{ .ModuleName }}
  version: v0.1.0

imports:
  tron: https://spkg.io/v1/packages/tron_foundational/v0.1.2

protobuf:
  files:
    - mydata.proto
  importPaths:
    - ./proto
  excludePaths:
    - sf/substreams
    - google

binaries:
  default:
    type: wasm/rust-v1
    file: ./target/wasm32-unknown-unknown/release/substreams.wasm

modules:
 - name: map_my_data
   kind: map
   initialBlock: 71846500
   inputs:
   - source: sf.tron.type.v1.Block
   output:
    type: proto:mydata.v1.MyData

network: {{ .ChainNetwork }}
