mod pb;

use crate::pb::sf::substreams::tron::v1::Transactions;

#[substreams::handlers::map]
fn map_my_data(transactions: Transactions) -> Result<Transactions, ::substreams::errors::Error> {
    // Include here your custom code

    Ok(transactions)
}