syntax = "proto3";

package mydata.v1;

// MyData represents the data that you map out from a NEAR block to your own needs.
// You can structure it however you want, this is controlled by you, so adjust
// based on your needs.
//
// In this example, we define a MyData message that contains a list of transactions,
// and each transaction contains its hash, signer ID, receiver ID, and a list of
// function call actions with their names and arguments.
message MyData {
  repeated Transaction transactions = 1;
}

message Transaction {
  string transaction_hash = 1;
  string signer_id = 2;
  string receiver_id = 3;
  repeated CallAction actions = 4;
}

message CallAction {
  string name = 1;
  bytes args = 2;
}
