# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `vara-extrinsics` template.

{{ template "readme_usage" }}

## Modules

### `map_filtered_extrinsics`

This module retrieves Vara transactions filtered by one or several Extrincis
(i.e. you will only receive transactions containing the specified Extrinsics).
