specVersion: v0.1.0
package:
  name: {{ .Name }}
  version: v0.1.0

imports:
  vara: https://spkg.io/streamingfast/vara-common-v0.1.6.spkg

modules:
 - name: map_filtered_extrinsics
   use: vara:filtered_extrinsics

params:
  map_filtered_extrinsics: {{ .ExtrinsicId }}

network: {{ .ChainNetwork }}
