# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `mantra-events` template.

{{ template "readme_usage" }}

## Modules

### `{{ .GetModuleName }}`

This module uses the [Mantra Foundational Modules](https://github.com/streamingfast/substreams-foundational-modules/)
and applies filters on the chosen events and attributes.
