[package]
name = "{{ .Name }}"
version = "0.0.1"
edition = "2021"

[lib]
name = "substreams"
crate-type = ["cdylib"]

[dependencies]
buffa = "0.9.2"
buffa-types = "0.9.2"
substreams = "0.8.0-beta"
substreams-solana = "0.16.0-beta.1"
anchor-lang = ">=0.31.0"
sologger_log_context = "0.1.2"
base64 = "0.22.1"

# Required so that anchor-lang dependencies build correctly under wasm32-unknown-unknown
[target.wasm32-unknown-unknown.dependencies]
getrandom = { version = "0.2", features = ["custom"] }

[profile.release]
lto = true
opt-level = 's'
strip = "debuginfo"
