# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `injective-hello-world` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module extracts 'transfer' Mantra events from blocks into a protobuf message.
