# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `injective-minimal` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module will do a simple computation of the number of **transactions** in each block.
