mod pb;
use pb::mydata::v1 as mydata;

// use substreams::prelude::*;
// use substreams::store;

use substreams_solana::pb::sf::solana::r#type::v1::Block;


#[allow(unused_imports)]
use num_traits::cast::ToPrimitive;
use std::str::FromStr;
use substreams::scalar::BigDecimal;

#[substreams::handlers::map]
fn map_my_data(blk: Block) -> mydata::MyData {
    let mut my_data = mydata::MyData::default();
    my_data.counter = blk.parent_slot;
    
    return my_data
}

