# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `sol-hello-world` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module will extract accounts from the Pump.Fun program from the 'blocks_without_votes' foundational module
