# {{ .Name }} Substreams modules

This package was initialized via `substreams init`, using the `sol-minimal` template.

{{ template "readme_usage" }}

## Modules

### `map_my_data`

This module will do a simple computation of the number of **transactions**
and the number of **instructions** in each block.
