syntax = "proto3";

package mydata.v1;

import "google/protobuf/any.proto";
import "google/protobuf/timestamp.proto";
import "sf/tron/type/v1/block.proto";

message MyData {
  uint64 block_number = 1;
  google.protobuf.Timestamp timestamp = 2;
  repeated TransferContract transfer_contracts = 3;
}

message TransferContract {
  string owner = 1;
  string to = 2;
  int64 amount = 3;
  uint32 permissions_id = 4;
}
